@charset "UTF-8";
@media only screen and (max-width: 767px) {
  /*mobile*/

* {
  font-size: 16px;
  color: #ffffff;
}

a {
  color: #32cd32;
}

b {
  color: #000000;
}

.bg1 {
  background-color: #303030 !important;
  height: 2500px;
}

.bg2 {
  background-color: #ffffff;
  color: #1d1f2e;
}

.bgfooter {
  background-color: #778899;
  color: #1D1F2E;
}

.blacktext {
  color: #000000;
}

body {
  padding-top: 53px;
  padding-left: 10px;
  padding-right: 10px;
}

.caption {
  color: #000000 !important;
  font-size: 16px;
}

.centered {
  text-align: center;
}

.greentext {
  color: #32cd32;
}

img {
  display: block;
  margin: auto;
  width: 90%;
}

.leftalign {
  text-align: left;
}

p {
  text-align: justify;
}

.pastrytext {
  color: #E36B69 !important;
}

#tab {
  margin-left: 30px;
}
  .wellfont {
    color: #1D1F2E;
  }

  .whitetext {
    color: #ffffff !important;
    font-size: 20px;
}
}


@media only screen and (min-width: 768px) {
  /*tablet, desktop*/
  * {
    font-size: 16px;
    color: #ffffff;
  }

  a {
      color: #32cd32;
    }

  b {
    color: #000000;
  }

  .bg1 {
    background-color: #303030 !important;
    height: 1500px;
  }

  .bg2 {
    background-color: #ffffff;
    color: #1d1f2e;
  }

  .bgfooter {
    background-color: #778899;
  }

.bigimg {
  width: 90%;
}

  .blacktext {
    color: #000000;
  }

  body {
    padding-top: 53px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .caption {
    color: #000000 !important;
    font-size: 16px;
  }

.carouselpics {
  width: 30%;
}

  .centered {
    text-align: center;
  }

  .greentext {
    color: #32cd32;
  }

  img {
    display: block;
    margin: auto;
    width: 50%;
  }

  .leftalign {
    text-align: left;
    padding-left: 200px;
  }

  p {
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
  }

  .pastrytext {
    color: #E36B69 !important;
  }

  #tab {
    margin-left: 30px;
  }
    .wellfont {
      color: #1D1F2E;
    }

    .whitetext {
      color: #ffffff !important;
      font-size: 20px;
  }
}
